body {
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}