* {
    padding: 0 !important;
    margin: 0 !important;
}

html, body {
    height: 100% !important;
    width: 100% !important;
}

body {
    font-family: 'Indie Flower', cursive;
}

.heading {
    font-size: 2em;
    margin: 10px !important;
}

#notebook {
    background-color: rgba(255, 255, 0, 0.79);
    height: 400px;
    width: 350px;
    transform: rotate(7deg);
    border-radius: 5px;
}