//- Footer
footer.margin15.d-flex.flex-column
    .largeFont.align-self-center.margin15 Connect With Us
    .d-flex.flex-column.justify-content-around.align-items-center
        a(href="https://www.instagram.com/nobleaesthetic/", target="blank").d-flex.margin10
            i.fa.fa-instagram.fa-lg.marginRight5(aria-hidden="true")
            div Instagram
        a(href="https://www.facebook.com/Noble-Aesthetic-1433265413459968/?view_public_for=1433265413459968", target="blank").d-flex.margin10
            i.fa.fa-facebook-square.fa-lg.marginRight5(aria-hidden="true")
            div Facebook
        a(href="https://twitter.com/NobleAesthetic", target="blank").d-flex.margin10
            i.fa.fa-twitter.fa-lg.marginRight5(aria-hidden="true")
            div Twitter
    .space15
    .container#emailForm
    //- .space50