//- Leave A Message Fixed Div
.leaveAMessageCollapsed.d-flex.flex-column#leaveAMessage
    .d-flex.justify-content-around.leaveAMessageCollapsedTitle#leaveAMessageTitleID
        p Leave a Message
        i.fa.fa-comments.mouseCursor(aria-hidden="true")#messageIcon
    .d-none#leaveAMessageExpandedContent
        form.d-flex.flex-column.justify-content-start(method="post")#messageForm
            input(type="text", placeholder="Name", name="userMessageName", required).margin5
            input(type="email", placeholder="Email", name="userMessageEmail", required).margin5
            textarea(placeholder="Leave Us A Message!", name="userMessageComment", cols="25", rows="11", required).margin5
            .align-self-center
                button(type="submit").margin5#leaveAMessageSubmit Submit
                button(type="reset").margin5 Reset
            .d-none.flex-column.justify-content-center.align-items-center#successMessage
                p Submitted Successfully
                br
                p Thank You!