//- Left Side Navbar
nav.navBarShowing.d-flex.flex-column#navBar
    div(style="padding-top: 17.5px; padding-left: 5px;")
        i.fa.fa-bars.fa-2x(aria-hidden="true")#navBarIcon
    .space15
    #navMainLinks
        .navBarULShowing
            a(href="/") Home
        .navBarULShowing#navConnectWithUs
            a(href="#emailForm") Connect With Us
        .space15
        #navBarCollapsedIcons.d-none
            a(href="/")
                i.fa.fa-home.fa-lg(aria-hidden="true")
            a(href="#emailForm")
                i.fa.fa-commenting-o.fa-lg(aria-hidden="true")
        .space15
    #navIconsDiv.mt-auto
        a(href="https://www.instagram.com/nobleaesthetic/", target="blank").d-flex.margin10
            i.fa.fa-instagram.fa-lg.marginRight5(aria-hidden="true")
            div Instagram
        a(href="https://www.facebook.com/Noble-Aesthetic-1433265413459968/?view_public_for=1433265413459968", target="blank").d-flex.margin10
            i.fa.fa-facebook-square.fa-lg.marginRight5(aria-hidden="true")
            div Facebook
        a(href="https://twitter.com/NobleAesthetic", target="blank").d-flex.margin10
            i.fa.fa-twitter.fa-lg.marginRight5(aria-hidden="true")
            div Twitter