//- title bar at the top of the page
.d-flex.justify-content-center#titleBar
    .margin10#titleDiv Noble Aesthetic
.d-flex.justify-content-center
    .margin10#titleSubDiv Custom Competition Wear
.space50