extends components/layout

block content
    .row
        .col-xs-12.col-lg-12.d-flex.justify-content-center
            img(src="img/secondary2.jpg", alt="picture of a woman").aboutPicture.align-self-center
        .col-xs-12.col-lg-12.d-flex.flex-column.justify-content-center
            p.scriptureText.d-flex.justify-content-center.marginTop10 For God has not given us <br class="d-none mobileBr"> a spirit of fear and timidity,
            p.scriptureText.d-flex.justify-content-center but of power, love, <br class="d-none mobileBr"> and self-discipline
            <span class="scriptureVerse d-flex justify-content-center">
                <sub>- II Timothy 1:7</sub>
            </span>
    .space50
    .d-flex.flex-column.justify-content-around.align-items-center.container#lydiaBio
        p Born and raised in Minnesota, Lydia grew up playing sports and riding horses. She graduated from the University 
            | of Minnesota with a degree in psychology, but chose to pursue her love for horseracing and worked with horses 
            | for many years following her schooling before breaking into the health and fitness industry.
        br
        p Her interest for fitness began when she was just a child, as she remembers her dad telling her at 8 years old, 
            | “Lydia, you should go into female bodybuilding.” Lydia didn’t know it then, but bodybuilding would later 
            | become her passion and lifestyle, following right in her parents’ footsteps. After seeing a friend successfully 
            | compete, she decided that this sport was something she could see herself doing, too! Lydia has competed in 
            | 3 natural bodybuilding competitions since 2016. Most recently, she won her pro cards with both the National 
            | Gym Association and the United States Bodybuilding Federation. After a successful 2017 season, she is taking 
            | advantage of a long improvement season before stepping on stage in 2019 for her professional debut.
        br
        p Now residing in southern Pennsylvania, Lydia is a certified personal trainer at a local gym. In her spare time 
            | (when she’s not designing posing suits, training clients, or crushing her personal goals in the gym) she 
            | enjoys spending time with her husband, daughter, and adopted pitbull. Lydia’s points of interest: her faith, 
            | her home state of Minnesota, horseracing, cooking, overall nutrition, and of course, bodybuilding.
    .space50