extends components/layout

block content
    .row
        .col-xs-12.col-lg-12.d-flex.justify-content-center
            img(src="img/colleen2.jpg", alt="picture of a woman").aboutPicture.align-self-center
        .col-xs-12.col-lg-12.d-flex.flex-column.justify-content-center
            p.scriptureText.d-flex.justify-content-center.marginTop10 For I can do everything <br class="d-none mobileBr"> through Christ,
            p.scriptureText.d-flex.justify-content-center who gives me strength.
            <span class="scriptureVerse d-flex justify-content-center">
                <sub>- Philippians 4:13</sub>
            </span>
    .space50
    .d-flex.flex-column.justify-content-around.align-items-center.container#colleenBio
        p Colleen loves living in Minnesota, she always has. She comes from a large family that uses any excuse to get 
                |together to celebrate something. She loves to travel and tries to make it to Pennsylvania as often as she 
                |can to see her daughter and son-in-law.
        br
        p She graduated a very long time ago with a degree in art education, She chose not to pursue a career in that area 
                |when she began working at various health clubs, eventually owning her own club for a while in the 80's. She 
                |still likes to workout and loves going to bodybuilding competitions to cheer her daughter on.
        br
        p Colleen learned to sew when she was a little girl and continued to perfect her skills by taking sewing and tailoring 
                |classes. Whether designing and making wedding gowns or competition suits for bodybuilders, she is an artist 
                |at heart and sewing is her favorite form of creative expression.
    .space50