extends components/layout

block content
    .heightTemp
    .justify-content-center.d-none#carouselDiv
        #carouselIndicators.carousel.slide(data-ride="carousel")
            ol.carousel-indicators.d-flex.justify-content-end.marginBottom5
                li(data-target="#carouselIndicators", data-slide-to="0").active
                li(data-target="#carouselIndicators", data-slide-to="1")
                li(data-target="#carouselIndicators", data-slide-to="2")
            .carousel-inner
                .carousel-item.active
                    img.w-100.carousel-innerImg(src="img/hero.jpg", alt="First Slide")
                    .carousel-caption.d-flex.justify-content-end.carouselFont Custom Suits
                .carousel-item
                    img.w-100.carousel-innerImg(src="img/hero2.JPG", alt="Second Slide")
                    .carousel-caption.d-flex.justify-content-end.carouselMiddleFont Designed To Enhance<br>Your Masterpiece
                .carousel-item
                    img.w-100.carousel-innerImg(src="img/hero3.JPG", alt="Third Slide")
                    div.carousel-caption.d-flex.justify-content-end.carouselFont Noble Aesthetic
            a.carousel-control-prev(href="#carouselIndicators" role="button", data-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous
            a.carousel-control-next(href="#carouselIndicators", role="button", data-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next

    .d-flex.flex-column.justify-content-around
        .space50
        //- Temp space while links below hero img fade in
        //- div(style="height: 16px;").heightTemp2
        //- .d-none.justify-content-around.row.margin0#linksDiv
        //-     .d-flex.justify-content-center.align-items-center.col-xs-12 Custom Made
        //-     .d-flex.justify-content-center.align-items-center.col-xs-12 Ready Made
        //-     .d-flex.justify-content-center.align-items-center.col-xs-12 Placeholder
        //- .space50
        .container.d-flex.flex-column.justify-content-around
            .d-flex.flex-column.align-items-center.justify-content-around.margin15#whoWeAre
                p.largeFont Who We Are
                .space15
                p Lydia and Colleen are a daughter-mother, dynamic-duo, best friend partnership. Leading up to her first 
                   | figure competition, Lydia purchased a basic, ready-made posing suit online. When Colleen flew in
                   | for the competition, she brought along some thread to tailor the suit to fit Lydia’s physique better,
                   | as well as some blinged-out connectors to replace the plain, material straps of the mail-order suit.
                   | This event got the <span id="expandParagraphSpan">wheels turning</span> <span class="mobileExpandedParagraphContent">in both of their heads. What if Colleen could design her daughter’s next posing suit? It would be
                   | more cost effective, custom tailored, and designed to Lydia’s standards and specifications.</span>
                .space15
                p <span class="mobileExpandedParagraphContent">Colleen is a seamstress by nature, having designed and sewn clothes for Lydia since she was a little 
                    | girl. It was a no-brainer that these two would work together to create the perfect suit for Lydia’s 
                    | 2017 competition season. Lydia sent her measurements to Minnesota where Colleen created a 
                    | pattern and purchased some lovely gray material. Lydia received the suit in the 
                    | mail a few weeks before her competition and it fit perfectly. Lydia had limited time to create 
                    | a design that she would use to stone her suit. Only days before the competition, Colleen 
                    | flew in with the crystals and Lydia decorated her masterpiece. The suit came together flawlessly 
                    | and they both fell in love with the end product as well as the process. Lydia went on to win
                    | pro cards at both of her 2017 competitions with that suit.</span>
                .space15
                p <span class="mobileExpandedParagraphContent">The enjoyment of the process and naturalness of which everything came together, fueled their little 
                    | dream of designing suits into a brightly lit reality.</span>
                .space15.mobileExpandedParagraphContent
                p <span class="mobileExpandedParagraphContent">The name Noble Aesthetic is based on the scriptures, Proverbs 31:10-31: The Wife of Noble Character. 
                    | Through skill, hard work, and dedication, Lydia strives to use her passions to bring honor to, 
                    | and provide for her household. Because all He has done, is doing, and promises to do, Lydia is 
                    | set on devoting her ways to her Creator. It is her hope that God will use Noble Aesthetic to 
                    | further his kingdom <span id="collapseParagraphSpan">as He sees fit</span>.</span>
                .space15.mobileExpandedParagraphContent
                div
                    p.scriptureText For from him and through him and to him are all things.
                    p.scriptureText To him be glory forever! Amen.
                    <span class="scriptureVerse d-flex justify-content-end">
                        <sub>- Romans 11:36</sub>
                    </span>
                .space50
                p.largeFont.text-center About The Designers
        .space15
        .row.margin0#aboutTheDesigners
            .col-xs-12.col-sm-6.d-flex.flex-row.justify-content-around
                a(href="/aboutLydia")#aboutLydiaLink
                    <span><p class="text-center">Lydia</p></span>
                    img(src="img/secondary2.jpg", alt="picture of a woman").aboutPicture
            .col-xs-12.col-sm-6.d-flex.flex-row.justify-content-around
                a(href="/aboutColleen")#aboutColleenLink
                    <span><p class="text-center">Colleen</p></span>
                    img(src="img/colleen2.jpg", alt="picture of a woman").aboutPicture
    
    .space50