body {
    margin: 10px;
}

textarea {
    height: 150px !important;
    resize: none;
}

button {
    margin-top: 10px;
}

pre {
    white-space: pre-wrap;
}

#email-preview {
    height: 200px !important;
}
